.bg {
  background-color: #D6C4ED;
}

.navbar {
  background-color: rgba(0,37,46,0.7);
  min-width: 100%;
  height: 13%;
  padding: 20px;
}


.texte a {
  color: white;
  padding-right: 25px;
  font-size: 25px;
  font-family: 'IM Fell English SC', serif;
  transition: 5s;

}

.texte a:hover {
  rotate: 50deg;
}
